apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-c-deploy
  labels:
    app: service-c
spec:
  replicas: 3
  selector:
    matchLabels:
      app: service-c
  template:
    metadata:
      labels:
        app: service-c
    spec:
      containers:
      - name: nginx
        image: elazarmeijers/sql-app-a:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: DB_HOST
          value: "headless-svc-mysql"
        